*{
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    max-width: 1200px;
    margin: auto;
}
header button{
    border: none;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 15px;
    background-color: #F4F4F5;
    font-size: 20px;
}
.section1{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    background-color: #F4F4F5;
    border-radius: 10px;
    padding: 50px 25px;
    position: relative;
}
.section1 aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
}
.section1 h1{
    font-size: 80px;
    font-weight: 400;
}
.sect1box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #28303D;
    color: white;
    border-radius: 10px;
    width: 730px;
    padding: 25px;
    overflow: hidden !important;
    position: relative;
}
.sect1box h2{
    font-size: 40px;
    font-weight: 400;
}
.sect1box p{
    font-size: 24px;
    width: 300px;
}
.sect1btnbox{
    display: flex;
    gap: 10px;
    position: relative;
}
.sect1btnbox button{
    padding: 10px;
    width: 160px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
}
.sect1btnbox button:first-child{
    background-color: black;
    color: white;
    font-size: 30px;
}
.sect1box img{
    position: absolute;
    right: 0px;
}
.sect1btnbox2{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.sect1btnbox2 button{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #D7B18D;
}
.img2{
    position: absolute;
    width: 40%;
    height: 725px;
    right: 0;
    top: -40px;
}
.section2{
    display: flex;
    max-width: 1200px;
    margin: auto;
    background-color: #212731;
    border-radius: 10px;
    color: white;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.section2 h1{
    font-size: 60px;
    font-weight: 400;
}
.sect2cont1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sect2cont2{
    display: flex;
    gap: 25px;
}
.sect2cont2 p{
    font-size: 25px;
    background-color: #28303D;
    border-radius: 10px;
    padding: 5px;
}
.section2 img{
    position: absolute;
    right: 100px;
    top: 0px;
    width: 38%;
}

.section3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1200px;
    margin: auto;
    padding: 50px 25px;
    position: relative;
}
.section3 h1:first-child{
    font-size: 40px;
    position: relative;
    left: -15px;
}
.vacansycont{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.vacansybox1{
    padding: 25px;
    border: 1px solid lightgray;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}
.vacansybox1 p{
    color: #848C9A;
    font-size: 14px;
    margin-bottom: 10px;
}
.vacansybox1 h2{
    font-size: 24px;
}
.vacansybox1 h3{
    font-size: 20px;
    font-weight: 500;
}
.vacansycont hr{
    color: #00000014;
}
.vacansybtnbox{
    display: flex;
    gap: 10px;
}
.vacansybtnbox button{
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.vacansybtnbox button:first-child{
    background-color: #D7B18D;
}
.vacansybtnbox button:last-child{
    background-color: white;
    color: black;
    border: 1px solid #D7B18D;
}
.vacansybox2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid lightgray;
    width: 20%;
    border-radius: 10px;
    padding: 25px;
}
.vacansybox2 h2{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vacansybox2 span{
    font-size: 12px;
    color: #848C9A;
    font-weight: 500;
}
.vacansybox2 h4{
    font-weight: 500;
    color: #08A652;
    font-size: 14px;
}

.section4{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 1200px;
    margin: auto;
    padding: 100px 15px;
}
.section4 h1{
    font-size: 40px;
}
.companycont{
    display: flex;
    gap: 5px;
}
.companybox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 25px;
    width: 25%;
}
.companybox p{
    font-size: 14px;
    font-weight: 500;
    color: #848C9A;
}
.companybox h3{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 24px;
}
.companybox button{
    width: 100%;
    background-color: white;
    border: 1px solid #D7B18D;
    border-radius: 10px;
    padding: 14px;
    font-size: 20px;
}

.section5{
    display: flex;
    max-width: 1200px;
    margin: auto;
    background-color: #F4F4F5;
    border-radius: 4;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}
.section5 h1{
    font-weight: 400;
    font-size: 30px;
}
.section5 input{
    padding: 10px;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 10px;
}
.section5 p{
    font-size: 20px;
    font-weight: 300;
}
.section5 button{
    padding: 10px;
    font-size: 20px;
    background-color: #28303D;
    border-radius: 10px;
    color: white;
}

.section6{
    padding: 0 15px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    gap: 10px;
}
.section6 span{
    border: 1px solid #D3D4D6;
    color: #D3D4D6;
    font-size: 18px;
    border-radius: 100%;
    padding: 5px 10px;
    text-align: center;
    margin-right: 10px;
}
.section6 hr{
    width: 7%;
}
.section7{
    max-width: 1200px;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #212731;
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.section7 h1{
    font-size: 60px;
}
.section7 p{
    font-size: 24px;
    color: #FFFFFFCC;
}
.section7 h3{
    display: inline-block;
    font-size: 30px;
    background-color: #28303D;
    padding: 10px 5px;
    width: 15%;
    border-radius: 10px;
}
.numbbox{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    border-radius: 40px;
    padding: 25px;
    color: black;
    align-items: center;
    left: 650px;
    top: 50px;
}
.numbbox h1{
    font-size: 90px;
}
.numbbox p{
    color: black;
    font-size: 20px;
}
.phoneimg{
    position: absolute;
    width: 38%;
    right: 10px;
    top: 0px;
}

@media (max-width: 500px) {
    header button{
        font-size: 18px;
        background-color: white;
    }
    header img:first-child{
        width: 35%;
    }
    .section1{
        width: 100%;
        align-items: center;
        padding: 50px 0px;
        overflow: hidden;
    }
    .section1 aside{
        align-items: center;
    }
    .section1 h1{
        font-size: 36px;
        width: 100%;
        text-align: center;
    }
    .sect1box{
        width: 300px;
        margin-top: 250px;
        position: relative;
        z-index: 2;
    }
    .sect1box img{
        display: none !important;
    }
    .sect1box h2{
        font-size: 24px;
    }
    .sect1box p{
        font-size: 16px;
        font-weight: 300;
    }
    .sect1box button{
        display: none !important;
    }
    .img2 {
        z-index: 1;
        width: 85%;
        height: auto;
        top: 200px;
        right: -20px;
    }
    .sect1btnbox2{
        position: relative;
        z-index: 2;
    }
    .sect1btnbox2 button{
        width: 340px;
        margin-top: -30px;
        padding: 15px;
    }
    .sect1btnbox2 img{
        display: none !important;
    }
    .section2 h1{
        font-size: 30px;
        font-weight: 700;
    }
    .sect2cont2{
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
    .section2 img{
        width: 65%;
        right: -50px;
        top: 95px;
    }
    .section3{
        padding: 50px 15px;
    }
    .section3 h1:first-child{
        font-size: 24px;
        align-self: center;
    }
    .vacansycont{
        flex-direction: column;
    }
    .vacansybox1 {
        width: 85%;
    }
    .vacansybox2{
        width: 85%;
    }
    .section4 h1{
        font-size: 24px;
        align-self: center;
    }
    .companycont{
        flex-direction: column;
        gap: 10px;
    }
    .companybox{
        width: 85%;
    }
    .section5{
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;
    }
    .section5 h1{
        width: 80%;
    }
    .section5 input{
        width: 100%;
        padding: 20px;
    }
    .section5 input::placeholder{
        font-size: 20px;
    }
    .section5 p{
        width: 43%;
        font-size: 20px;
        text-align: center;
        background-color: #F4F4F5;
        padding: 10px;
        border-radius: 10px;
    }
    .section5 button{
        width: 45%;
    }
    .section6{
        flex-direction: column;
        align-items: start;
        gap: 25px;
    }
    .section6 hr{
        display: none !important;
    }
    .section6 p{
        display: flex;
        align-items: center;
    }
    .section7{
        margin: 10px;
    }
    .phoneimg{
        display: none !important;
    }
    .section7 h3{
        width: 53%;
    }
    .numbbox{
        display: none !important
    }
}